.cont {
  width: 100%;
  height: 30rem;
  display: flex;
  flex-direction: column;
  /* background-color: red; */
  padding: 0.5rem 0;
  margin: 1rem 0;
  box-shadow: 0 2px 2px 3px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  transition: 1s ease-in-out;
  overflow: hidden;
}

.cont:hover {
  transform: scale(1.01);
}

.imageCont {
  /* padding: 1rem; */
  margin: 0;
  /* background-color: aqua; */
}

.image {
  margin: 0 3rem;
  box-shadow: 0 2px 2px 3px rgba(0, 0, 0, 0.1);
}

.textItems h2 {
  text-align: left;
  margin-top: 0.5rem;
}

.textItems {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-left: 1rem;
}

.toools {
  display: flex;
  flex-direction: row;
}

.toolSpan {
  margin-right: 0.5rem;
}

.toolSpan:nth-child(0) {
  margin: 0m;
}

@media (min-width: 45em) {
  .cont {
    flex-direction: row;
    height: 20rem;
    justify-content: space-between;
  }

  .textItems {
    width: 50%;
    margin-left: 2rem;
  }
}

@media (min-width: 75rem) {
  .cont {
    flex-direction: row;
    height: 20rem;
    justify-content: center;
  }
}

@media (min-width: 90rem) {
}
