.cont {
  width: 100%;
  height: 30rem;
  display: flex;
  flex-direction: column;
  /* background-color: red; */
  padding: 0.5rem 0;
  margin: 1rem 0;
  box-shadow: 0 2px 2px 3px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
}

.cont h2 {
  text-align: left;
  margin-top: 0.5rem;
}

.imageCont {
  background-color: aqua;
  margin: 0;
}

.textItems {
  display: flex;
  width: 100%;
  margin-left: 1rem;
}

@media (min-width: 45em) {
  .cont {
    flex-direction: row;
    height: 20rem;
    justify-content: space-between;
  }

  .textItems {
    width: 50%;
    margin-left: 2rem;
  }
}

@media (min-width: 75rem) {
  .cont {
    flex-direction: row;
    height: 20rem;
    justify-content: center;
  }
}

@media (min-width: 90rem) {
}
